rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso público (sin autenticación)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
